<!DOCTYPE html>
<html>
<head>

    <%- include('../header'); %>

</head>
<body>

<%- include('navbar'); %>

<div class="card">

    <div class="card-header">
        Help Page
    </div>
    <div class="card-body">

        <h3>Database</h3>

        All data are stored in a <a href="https://www.sqlite.org/index.html">sqlite database</a>.
        Once downloaded, the database (a single file) can be opened and manipulated with
        <a href="https://sqlitebrowser.org/">the sqlite browser</a> (available on OSX and Windows).

        <h3>Source Code</h3>

        The source code is available on <a href="https://github.com/nicolas-budin/psychonode">Github</a>

    </div>
</div>
</body>
</html>
