<!DOCTYPE html>
<html>
<head>

    <%- include('../../header'); %>

</head>
<body>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading"><%= user.uITextElementsMap.test_end%></h4>
</div>

</body>
</html>
