<!DOCTYPE html>
<html>
<head>

    <%- include('../header'); %>

    <script type="text/javascript">
        window.onload = function () {
            window.setTimeout(function () {
                document.getElementById("header").style.display = "block";
                document.getElementById("video").style.display = "none";
                document.getElementById("start_test").style.display = "block";
            }, 20000);
        };
    </script>

</head>
<body>

<div style="display: none;" name="header" id="header" class="alert alert-primary" role="alert">
    <h4 class="alert-heading"><%= user.uITextElementsMap.ready_to_start%></h4>
</div>

<div>
    <div id="video" name="video" class="embed-responsive embed-responsive-16by9">
        <iframe width="480" height="390" class="embed-responsive-item" src="https://www.youtube.com/embed/63MU9MdX5DQ?autoplay=1&mute=1" frameborder=”0″ allowfullscreen></iframe>
    </div>
</div>

<form action="/tests/run/start" method="post">
    <button name="start_test" id="start_test" type="submit" style="display: none;" class="btn btn-primary"><%= user.uITextElementsMap.press_key_to_start%></button>
</form>

</body>
</html>
